packages:
  yum:
    supervisor: []

commands:
  00_create_log_dir:
    command: "mkdir -p /opt/python/log"

  01_create_supervisor_conf:
    command: |
      echo "[program:daphne]
      command=/opt/python/run/venv/bin/daphne -u /tmp/daphne.sock pawpark.asgi:application
      autostart=true
      autorestart=true
      stderr_logfile=/opt/python/log/daphne.err.log
      stdout_logfile=/opt/python/log/daphne.out.log" > /etc/supervisord.d/daphne.conf

  02_restart_supervisord:
    command: "supervisord -c /etc/supervisord.conf"
