packages:
  yum:
    epel-release: []
    redis: []  # This installs the default Redis version in the EPEL repo

commands:
  01_enable_redis:
    command: "systemctl enable redis"
    ignoreErrors: true

services:
  sysvinit:
    redis:
      enabled: true
      ensureRunning: true
      commands:
        "01": "chkconfig redis on"
